/* ---------- LOGIN AND REGIS PAGE -------------- */

body>img{
    width: 50%;    
}
@font-face{
    font-family: 'boldPublica';
    src: url('../font/PublicaSansRound-Bd.otf') format('opentype');
    font-style: normal;
}
@font-face{
    font-family: 'normalPublica';
    src: url('../font/PublicaSansRound-Lt.otf') format('opentype');
    font-style: normal;
}
html{
    font-family:'Poppins', sans-serif;
    width: 100%;
    height:100%;
}
body{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    /* padding-right: 10px; */
    /* margin-right: 10px; */
    /* justify-content: center; */
}
.Container{
    font-family: 'normalPublica';
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.Container>*>form{
    /* margin: 0; */
    /* padding: 0; */
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Container>*>*{
    width: 100%;
}


.namaCv>p{
    padding: 0px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    font-family: 'boldPublica';
    font-weight:bold;
    color: #9D5C0D;
}
.Container>p{
    /* padding: 0 10px; */
    margin: 5px 0px;
    font-size: 40px;
    text-align: center;
    font-family: 'boldPublica';
    font-weight:bold;
}
.InputArea{
    /* background-color: #9D5C0D; */
    width: 80%;
}
form{
    /* width: 100% !important; */
    /* background-color: #9D5C0D !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
/* .TheInput{
    width: calc(100% - 50px);
    border-radius: 9px;
    border: 1px solid black;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20PX;
} */

/* .TheInput>p,.PasswordFill>p{
    color: rgb(147, 147, 147);
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.TheInput>input,.PasswordFill>input{
    border: none;
    background-color: #ffffff;
    outline: none;
    height: 30px;
    font-family: 'normalPublica';
    font-size: 20px;
}
#PasswordArea{
    flex-direction: row;
    justify-content: space-between;
    
}

#PasswordArea>*{
    height: 100%;
}
.PasswordFill{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
} */



.TheInput {
    position: relative;
    margin: 20px 0;
    width: 300px;
  }

  /* Gaya untuk input */
  .TheInput>input {
    width: 100%;
    padding: 12px;
    padding-top: 20px; /* Membuat ruang untuk label */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  /* Label di dalam input */
  .TheInput>Label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.3s;
    pointer-events: none; /* Agar label tidak bisa diklik */
  }

  /* Ketika input di-hover atau diisi */
  .TheInput input:focus + label,
  .TheInput input:not(:placeholder-shown) label {
    top: 8px;
    font-size: 12px;
    color: #333;
  }

  /* Menambahkan hover effect */
  .TheInput input:hover {
    border-color: #888;
  }
.ButtonArea{
    width: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.ButtonArea>button{
    /* padding-top: ; */
    height: 50%;
    width: 50%;
    border: none;
    background-color: rgb(0,0,0,0);
    align-items: center;
    margin: 0px;
    padding: 0px;
    /* padding-left: 2px; */
    margin-left: 20px;
}
a{
    color: black;
}
form>button{
    width: 100%;
    border: none;
    border-radius: 40px;
    background-color: #9D5C0D;
    font-family: 'boldPublica';
    font-weight: bold;
    color: white;
    font-size: 40px;
    padding: 15px;
    margin: 0;
}
form>button p{
    padding: 0;
    margin: 0;
}
form p{
    margin: 0px;
}
.ToRegister{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.BackButton>a{
    font-family: 'normalPublica';
    position: fixed;
    top: 3%;
    left: 2%;
    /* background-color: aqua; */
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;
}
.BackButton>a>p{
    padding: 0;
    margin: 0;
}
#See{
    display: none;
}
#UnSee{
    display: flex;
}
.nameArea{
    display: flex;
    flex-direction: row;
    /* gap: px; */
    /* justify-content: space-between; */
    width: 99%;
    gap: 20px;
}
.nameArea>div{
    width: 100%;
}
.nameArea>*>*{
    width: 100%;
}


/* ------ REGIS PAGE ---------- */
