.ContainerCustom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    min-height: 83vh;
    /* background-color: aqua; */
    width: 100%;
    font-family: 'normalPublica';
}
.Title{
    width: calc( 100% - 43px);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    /* width: 100%; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    /* background-cozlor: antiquewhite; */
    padding-left: 43px;
}
.Photo{
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    min-height: 100%;
    /* height: fit-content; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.Photo>div{
    /* background-color: blue; */
    width: 80%;
    min-width: 80%;
    height: 300px;
    min-height: 300px;
    border-radius: 20px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
form.custom{
    /* background-color: antiquewhite; */
    width: 50%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #D8D2C2;
    border-radius: 15px;
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
    overflow-y: scroll;

    /* border-radius: 20px; */
}
.customFields{
    /* background-color: burlywood; */
    display: flex;
    width: 100%;

    border-radius: 15px;
    height: fit-content;
    flex-direction: column;
    /* padding-left: 10px; */
}
.customField{
    /* padding-left: 10px; */
    display: flex;
    flex-direction: column;
    /* background-color: #D8D2C2; */
}
.customField>*{
    padding-left: 10px;
}
.TitleCustomField{
    background-color: #D8D2C2;
    height: 30px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 5px 0px;
    padding-left: 10px;
}
.TitleCustomField.start{
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.customField>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;

}
.customField>div>div{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 30px;
    /* background-color: blue; */
}
.customField>div>div p{
    width: 200px;
    /* background-color: aqua; */
    text-align: start;
    align-items: center;
    justify-content: center;
}
.customField>div>div select{
    height: 100%;
    width: 250px;
    border-radius: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: #D8D2C2;
    /* appearance: none;
    margin-top: 10px; */
}
/* .customField>div>div select option{
    margin-top: 10px;
} */

.bottomArea{
    position:sticky;
    bottom: 0;
    height: 100px;
    width: calc(100% - 20px);
    background-color: #D8D2C2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    gap: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.bottomArea>div{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.bottomArea>div p{
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;

}
.bottomArea button{
    border: none;
    background-color: #B17457;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    

}
.theContent{
    height: 450px;
    /* min-height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}