@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* --- Variables --- */
:root {
    --white: #FFF;
    --black: #000;
    --brownLight: #D8D2C2;
    --brownMedium: #B17457;
    --brownDark: #4A4947;
}

.frame * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* --- Layout --- */
.frame {
    width: 100%;
    height: 100%;
    /* padding: 24px; */
}

.containerDashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 16px;


    width: calc(100% - 48px);
    height: 100%;
    padding: 24px;

    background-color: var(--brownLight);
    border-radius: 16px 16px 0 0;
}

.box {
    width: auto;
    height: fit-content;
    padding: 24px;

    background-color: var(--brownMedium);
    border-radius: 8px;

    /* --- Layout --- */
    &.earning,
    &.order {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    &.product,
    &.customer {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    /* --- Background Color --- */
    &.earning {
        background-color: var(--brownDark);
    }

    &.order {
        background-color: var(--brownMedium);
    }
    
    &.product {
        background-color: var(--brownMedium);
    }
    
    &.customer {
        background-color: var(--brownDark);
    }
}

.box .header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.box .header .action-button {    
    display: flex;
}

/* --- Typography --- */
h1 {
    color: var(--white);

    font-family: 'Poppins';
    font-size: 40px;
}

h2 {
    color: var(--white);

    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
}

h3 {
    color: var(--white);

    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    height: 30px;
}

/* --- Components --- */
.iconButton{
    background-color: var(--brownLight);
    border-radius: 8px;

    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 24px;
    }
}

.action-button.dashboard button{
    background-color: inherit;
    color: var(--brownLight);

    border-radius: 8px;
    border: none;

    width: 72px;
    padding: 4px 8px;

    font-weight: 500;

    cursor: pointer;

    &.active{
        background-color: var(--brownLight);
        color: var(--black);
    }
}