.LandingPage{
    /* background-color: aquamarine !important; */
    min-height: calc(100% - 10px);
    /* width: calc(100%); */
    margin: 0px 10px;
    padding-top: 0px;
    margin-right: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'normalPublica';
    /* margin-left: 0px !important; */
}

.LandingPage.product{
    margin-left: 0px;
}

.LandingPage>div{
    width: 100%;
    /* background-color: aqua; */
}

.titled{
    height: 50px;
    /* background-color: aqua; */
    font-size:x-large;
    font-family: 'boldPublica';
    display: flex;
    /* flex-direction: ; */
    /* justify-content: end; */
    align-items: center;
    border-bottom: 0.5px #B17457 solid;
}
.bottonsArea{
    align-items: center;
    /* background-color: aqua; */
    height: 70px;
    display: flex;
    justify-content: end;
}
.bottonsArea>button{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #B17457;
    color: white;
    /* word-spacing: 5px; */
    letter-spacing: 1.5px;
}
.theMainList{
    /* margin-top: 10px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.theMainList>.TheList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.theItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #B17457 0.5px solid;
    border-radius: 10px;
    height: fit-content;
    align-items: center;
    padding: 20px;
}
.theItems p{
    text-align: start;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.theItems>.name{
    min-width: 300px;
    width: 300px;
    /* background-color: aqua; */
}
.theItems>.theButtons{
    width: 100px;
    /* background-color: antiquewhite; */
    /* gap: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theItems>.theButtons>button{
    background-color: rgb(0,0,0,0);
    border: none;
    outline: none;
    /* border-bottom: 0.5px solid black; */
    text-decoration: underline;
    font-family: inherit;
}

/* --------- ADD & EDIT ---------- */
.NewProduct{
    width: 100%;
    height: 100%;
    position:fixed;
    background-color: rgb(0,0,0,0.75);
    z-index: 100000;
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    justify-content: center;
    font-family: 'normalPublica';
}
.containerd {
    width: calc(500px - 40px);
    height: calc(90% - 40px);
    background-color: white;
    border-radius: 10px;
    border: #B17457 0.5px solid;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 0px;
}
.NewProduct>div>*{
    width: 100%;
}
.TheButtons{
    background-color: white;
    /* padding: 0px 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-radius: 10px; */
    position:sticky;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid #B17457;
}   
.TheButtons button{
    background-color: #B17457;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    padding: 10px 20px;
}
.theTitled{
    position:sticky;
    width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    padding: 0px;
    left: 0;
    padding-bottom: 20px;
    z-index: 1000;
}

.theTitled>.forBack{
    width: 20px;
    position:static;
    left: 0px;
}
.forBack>svg{
    width: 20px;
    height: 20px;
}
.theTitled>p{
    width: calc(100% - 20px);
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.containerd form{
    /* overflow-y: auto; */
    /* margin-bottom: 86px !important; */
    display: flex;
    width: calc(100% - 20px);
    height: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    padding: 10px;
    /* margin-top: 20px; */
    overflow-y: auto;
    /* overflow-x: hidden; */
    /* justify-content: start; */
}

.PhotosAdds{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 95%;
    height: 230px;
    min-height: 230px;
    margin: 20px 0px;
    border: #B17457 0.5px solid;
    border-radius: 10px;
    align-items: center;
    position: relative;
}
.PhotosAdds>.move{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    border: #B17457 0.5px solid;
    border-radius: 5px;
    padding: 3px 1px;
    z-index: 1000;
    /* box-shadow: ; */
    /* box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); */
}
.PhotosAdds>.move>svg{
    width: 15px;
    height: 30px;
}
.move.lefted{
    left: 5px;
}
.move.righted{
    right: 5px;
}
.PhotosAdds>.buletan{
    width: 80%;
    height: 10px;
    position: absolute;
    bottom: 5px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
}
.PhotosAdds>.buletan>.bulat{
    width: 7px;
    height: 7px;
    /* background-color: #B17457;
    background-color: #D8D2C2; */
    /* border-radius: 3px; */
}
.PhotoAreaContainer{
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    /* background-color:aqua; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.PhotoAreaContainer::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    /* background-image: url('https://i.pinimg.com/736x/8a/db/bd/8adbbddd23d9bf88258b393a21b9ca0f.jpg'); */
}
.imageContainer{
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* border-radius: 10px; */
    /* background-color: aqua; */
    /* transition: all 0.3s ease-in-out; */
    /* position: relative; */
}
.imageContainer>.theImage{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.imageContainer>.forMainPhoto{
    width: fit-content !important;
    min-height: fit-content !important;
    min-width: fit-content !important;
    font-size: 10px;
    height: fit-content !important;
    padding: 5px 10px;
    background-color: #4C7130 !important;
    color: white;
    /* height: 20px; */
    border: none;
    border-radius: 5px;
    position:absolute;
    /* top: 10px; */
    /* left: 10px; */
    margin-top: 10px;
    margin-left: 10px;
    z-index: 500;
}
.imageContainer.nofill>.forMainPhoto{
    display: none;
}
.imageContainer.Main>.forMainPhoto{
    display: flex;
}
.imageContainer.notMain>.forMainPhoto{
    opacity: 50%;
}
.imageContainer.nofill>button{
    /* position: absolute; */
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    /* z-index: 200; */
    /* border-radius: ; */
}
.imageContainer.nofill>.theImage{
    display: none;
}
.imageContainer.nofill>input{
    display: none;
}
.imageContainer.withfill>.forInputPhoto{
    display: none;
}
.imageContainer.withfill>input{
    display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.productCategory{
    /* font-family:inherit; */
    font-family: 'normalPublica';
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    /* min-height: 60px; */
    /* border-radius: 15px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: start !;
    margin-bottom: 0px !important;
}
.productCategory>p{
    font-size: 10px;
    padding-left: 15px;
}
.productCategory select{
    width: calc(100%);
    height: 60px;
    min-height: 60px;
    border-radius: 15px;
    padding: 10px !important;
    font-size: 16px;
    border: 2px solid #aaa;
    outline: none;

}

.input-container,.productCategory{
    width: calc(100% - 10px);
    height: 60px;
    position: relative;
    margin: 10px;
    display: flex;
    align-items: center; /* Menjaga elemen tetap sejajar secara vertikal */
}
.input-container.desc{
    height: 115px !important;
    margin-bottom: 80px;
}
.input-container.desc.end{
    margin-bottom: 190px;
    height: 100px !important;
    min-height: 100px !important;
}
.input-container input, .input-container textarea {
    word-wrap: break-word; /* Membuat teks panjang terputus dan dibungkus */
    white-space: normal;
    width: 100%;
    height: 100%;
    padding: 16px 50px 8px 20px; /* Menambah padding kanan untuk tombol */
    font-size: 16px;
    border: 2px solid #aaa;
    border-radius: 15px;
    outline: none;
}
textarea{
    padding-top: 40PX !important;
}
.input-container.desc textarea{
    /* height: calc(100% - 35px); */
    margin-top: 20px;
    /* padding-top: 20px !important; */
    height: 150px !important;
}

.input-container label {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    background-color: white;
    padding: 0 10px;
    transition: 0.3s;
    pointer-events: none;
}


.input-container.desc label{
    top: -10% !important;
    transform: translateY(-100%) !important;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:focus + label,
.input-container textarea:not(:placeholder-shown) + label {
    margin-top: 5px;
    top: 8px;
    font-size: 12px;
    color: #aaa;
}


.forQty{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.ProductQty{
    width: fit-content;
    /* min-width: 15%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 5px;
    /* background-color: bisque; */
}
.ProductQty{
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    height: 25px;
    /* background-color: aqua; */
}
.ProductQty input{
    height: 100%;
    border: none;
    outline: none;
    width: 30px;
    /* background-color: #B17457; */
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}
.ProductQty>.inside{
    height: 100%;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: fit-content;
    width: fit-content;
    /* border: black 1px solid; */
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
}
.ProductQty .mid{
    height: 100%;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}
.ProductQty button{
    height: 100%;

    border: none;
    background-color: rgb(0,0,0,0);
}
.ProductQty button svg{
    width: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------ Manage user */
.theItems p:nth-child(1){
    width: calc(30% - 10px);
}
.theItems p:nth-child(2){
    padding-left: 10px;
    width: calc(30% - 10px);
    /* width: 30%; */
}
.theItems p:nth-child(3){
    width: calc(20% - 30px);
    padding-left: 15px;
    /* width: 20%; */
}
.theItems p:nth-child(4){
    padding-left: 10px;
    width: calc(10% - 10px);
    /* width: 10%; */
}
.theItems p:nth-child(5){
    padding-left: 10px;
    width: calc(10% - 10px);
    /* width: 10%; */
}

.Detil{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1500;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}