.LandingPage{
    /* background-color: aquamarine !important; */
    min-height: calc(100% - 10px);
    /* width: calc(100%); */
    margin: 0px 10px;
    padding-top: 0px;
    margin-right: 0px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'normalPublica';
    /* margin-left: 0px !important; */
}

.LandingPage.product{
    margin-left: 0px;
}

.LandingPage>div{
    width: 100%;
    /* background-color: aqua; */
}

.titled{
    height: 50px;
    /* background-color: aqua; */
    font-size:x-large;
    font-family: 'boldPublica';
    display: flex;
    gap: 20px;
    /* flex-direction: ; */
    /* justify-content: end; */
    align-items: center;
    border-bottom: 0.5px #B17457 solid !important;
    div{
        font-size: 15px;
        display: flex;
        flex-direction: row;
        padding: 3px 10px;
        gap: 5px;
        /* border-radius: 10px; */
        div{
            border-radius: 5px;
            border: 1px solid #B17457;
            color: #B17457;

        }
        div.active{
            background-color: #fcf8eb;
            border: none;
            color: black;
        }
    }
}
.bottonsArea{
    align-items: center;
    /* background-color: aqua; */
    height: 70px;
    display: flex;
    justify-content: end;
}
.bottonsArea > button {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #B17457;
    color: white;
    letter-spacing: 1.5px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover and active states */
}

.bottonsArea > button:hover {
    background-color: #9b5d42; /* Darker shade on hover */
    color: #f0f0f0; /* Lighter text on hover */
}

.bottonsArea > button:active {
    background-color: #7a472e; /* Even darker shade when clicked */
}
.theMainList{
    /* margin-top: 10px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.theMainList.part{
    align-items:normal;

    .category1{
        font-size: larger;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: rgb(0, 0, 0);

        .category2{
            padding-top: 10px;
            font-size:medium;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: rgba(0, 0, 0, 0.756);

            /* border-bottom: 1px solid black ; */

            .TheList{
                display: flex;
                flex-direction: column !important;
                gap: 10px;
                color: rgba(0, 0, 0, 0.868);

            }
        }
    }
}
.theMainList>.TheList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.theItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #B17457 0.5px solid;
    border-radius: 10px;
    height: fit-content;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    color: #1f1f1f;
    opacity: 75%;
}

.theItems:hover {
    z-index: 1;
    opacity: 100%;
    /* background-color: #6a5b55fb !important; */
    border: #6a5b55fb 0.5px solid;
    color: #000000;
    *{
        z-index: 1;
        color: #000000;
    }
}

.theItems:active {
    z-index: 1;
    background-color: #544844fb;

}

.theItems p{
    text-align: start;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.theItems>.name{
    min-width: 300px;
    width: 300px;
    /* background-color: aqua; */
}
.theItems>.theButtons{
    width: 200px;
    /* background-color: antiquewhite; */
    /* gap: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    form{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        /* width: 100%; */
        /* height: 100%; */
    }
}

.theItems>.theButtons button{
    background-color: rgb(0,0,0,0);
    border: none;
    outline: none;
    /* border-bottom: 0.5px solid black; */
    text-decoration: underline;
    font-family: inherit;

    
}

.IsContent.off{
    background-color: none !important;
    outline: none !important;
    text-decoration: none !important;
    
}
.IsContent.on{
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(140, 222, 140) !important;
    border-radius: 4px;
}


/* --------- ADD & EDIT ---------- */
.NewProduct{
    width: 100%;
    height: 100%;
    position:fixed;
    background-color: rgb(0,0,0,0.75);
    z-index: 90000;
    display: flex;
    /* flex-direction: ; */
    align-items: center;
    justify-content: center;
    font-family: 'normalPublica';
}
.containerd {
    width: calc(500px - 40px);
    height: calc(90% - 40px);
    background-color: white;
    border-radius: 10px;
    border: #B17457 0.5px solid;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 0px;
}
.NewProduct>div>*{
    width: 100%;
}
.containerd .TheButtons{
    /* padding: 0px 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-radius: 10px; */
    position:sticky;
    z-index: 999;
    bottom: 0;
    left: 0;
    gap: 10px;
    width: calc(100% - 40px);
    min-width: 100%;
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    border-top: 0.5px solid #B17457 !important;
    background-color: white !important;
    
    
}   
.containerd .TheButtons button{
    background-color: #B17457 !important;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    padding: 10px 20px;

}

.theTitled{
    position:sticky;
    width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    padding: 0px;
    left: 0;
    padding-bottom: 20px;
    z-index: 1000;
}

.theTitled>.forBack{
    width: 20px;
    position:static;
    left: 0px;
}
.forBack>svg{
    width: 20px;
    height: 20px;
}
.theTitled>p{
    width: calc(100% - 20px);
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.containerd form{
    /* overflow-y: auto; */
    /* margin-bottom: 86px !important; */
    display: flex;
    width: calc(100% - 20px);
    height: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    padding: 10px;
    /* margin-top: 20px; */
    overflow-y: auto;
    /* overflow-x: hidden; */
    /* justify-content: start; */
}

.PhotosAdds{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 95%;
    height: 230px;
    min-height: 230px;
    margin: 20px 0px;
    border: #B17457 0.5px solid;
    border-radius: 10px;
    align-items: center;
    position: relative;
}
.PhotosAdds>.move{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    border: #B17457 0.5px solid;
    border-radius: 5px;
    padding: 3px 1px;
    z-index: 1000;
    /* box-shadow: ; */
    /* box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); */
}
.PhotosAdds>.move>svg{
    width: 15px;
    height: 30px;
}
.move.lefted{
    left: 5px;
}
.move.righted{
    right: 5px;
}
.PhotosAdds>.buletan{
    width: 80%;
    height: 10px;
    position: absolute;
    bottom: 5px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
}
.PhotosAdds>.buletan>.bulat{
    width: 7px;
    height: 7px;
    /* background-color: #B17457;
    background-color: #D8D2C2; */
    /* border-radius: 3px; */
}
.PhotoAreaContainer{
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    /* background-color:aqua; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.PhotoAreaContainer::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.imageContainer{
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
   
}
.imageContainer>.theImage{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.imageContainer>.forMainPhoto{
    width: fit-content !important;
    min-height: fit-content !important;
    min-width: fit-content !important;
    font-size: 10px;
    height: fit-content !important;
    padding: 5px 10px;
    background-color: #4C7130 !important;
    color: white;
    border: none;
    border-radius: 5px;
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 500;
}
.imageContainer.nofill>.forMainPhoto{
    display: none;
}
.imageContainer.Main>.forMainPhoto{
    display: flex;
}
.imageContainer.notMain>.forMainPhoto{
    opacity: 50%;
}
.imageContainer.nofill>button{
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
   
}
.imageContainer.nofill>.theImage{
    display: none;
}
.imageContainer.nofill>input{
    display: none;
}
.imageContainer.withfill>.forInputPhoto{
    display: none;
}
.imageContainer.withfill>input{
    display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.productCategory{
    font-family: 'normalPublica';
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: start !;
    margin-bottom: 0px !important;
}
.productCategory>p{
    font-size: 10px;
    padding-left: 15px;
}
.productCategory select{
    width: calc(100%);
    height: 60px;
    min-height: 60px;
    border-radius: 15px;
    padding: 10px !important;
    font-size: 16px;
    border: 2px solid #aaa;
    outline: none;

}

.input-container,.productCategory{
    width: calc(100% - 10px);
    height: 60px;
    position: relative;
    margin: 10px;
    display: flex;
    align-items: center; /* Menjaga elemen tetap sejajar secara vertikal */
}
.input-container.desc{
    height: 115px !important;
    margin-bottom: 80px;
}
.input-container.desc.end{
    margin-bottom: 210px;
    height: 100px !important;
    min-height: 100px !important;

    textarea{
        margin-top: 40px;
    }
}

.input-container.desc.end.part{
    margin-bottom: 220px;
    textarea{
        margin-top: 70px !important;
    }
}
.input-container input, .input-container textarea {
    word-wrap: break-word; /* Membuat teks panjang terputus dan dibungkus */
    white-space: normal;
    width: 100%;
    height: 60px;
    padding: 20px 50px 8px 20px !important; /* Menambah padding kanan untuk tombol */
    font-size: 16px;
    border: 2px solid #aaa;
    border-radius: 15px;
    outline: none;
}
textarea{
    padding-top: 40PX !important;
}
.input-container.desc textarea{
    margin-top: 20px;
    height: 200px !important;
}

.input-container label {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    background-color: white;
    padding: 0 10px;
    transition: 0.3s;
    pointer-events: none;
}


.input-container.desc label{
    top: -10% !important;
    transform: translateY(-100%) !important;
}
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:focus + label,
.input-container textarea:not(:placeholder-shown) + label {
    margin-top: 5px;
    top: 8px;
    font-size: 12px;
    color: #aaa;
}


.forQty{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.ProductQty{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 5px;
}
.ProductQty{
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    height: 25px;
}
.ProductQty input{
    height: 100%;
    border: none;
    outline: none;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}
.ProductQty>.inside{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
}
.ProductQty .mid{
    height: 100%;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}
.ProductQty button{
    height: 100%;

    border: none;
    background-color: rgb(0,0,0,0);
}
.ProductQty button svg{
    width: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------ Manage user */
.theItems p:nth-child(1){
    width: calc(30% - 10px);
}
.theItems p:nth-child(2){
    padding-left: 10px;
    width: calc(30% - 10px);
    /* width: 30%; */
}
.theItems p:nth-child(3){
    width: calc(20% - 30px);
    padding-left: 15px;
}
.theItems p:nth-child(4){
    padding-left: 10px;
    width: calc(10% - 10px);
}
.theItems p:nth-child(5){
    padding-left: 10px;
    width: calc(10% - 10px);
}

.Detil{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1500;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------- */

.bottomsArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------- DETIL PRODUCT -------------------- */
.ShowSomething{
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(0,0,0,0.5);
    position: fixed;
    display: flex;
    scrollbar-width: auto;
    /* display: flex; */
    align-items: center;
    justify-content: center;

}
.ShowContainer{
    top: 13%;
    border-radius: 10px;
    border: 0.5px #B17457 solid;
    background-color: white;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    margin-top: 5%;
    .content{
        margin-top: 0 !important;
    }
    .ProductQty{
        border: none !important;
    }
    .ShowContainer>div{
        width: 100%;
    }
    .HeaderDetails{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        height: 10%;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        background-color: #D8D2C2;
        .TextDetails{
            width: calc(100% - 50px - 20px);
            display: flex;
            align-items: center;
            padding-left: 20px;
            justify-content: left;
            p{
                margin: 0;
                padding: 0;
                height: fit-content;
            }
        }
        button{
            width: 50px;
            height: 100%;
            border-top-right-radius: 8px;
            border: none;
            background-color: rgba(226, 105, 105, 0.949);
        }
    }
    .BodyDetail.User{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .BodyDetail{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow-y: auto;
        background-color: blanchedalmond;
        width: 100%;
        height: 90%;

        .mainArea{
            margin-top: 10px;

            .PhotosArea{
                min-width: 500px;
                min-height: 100%;

                .fillMainPhotos.NoPhoto{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        
        /* ------------- view USer ----------- */
        .containerPopUpView{
            font-family: 'normalPublica';

            margin: 20px 30px;
            width: calc(100% - 60px);
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            .variable{
                display: flex;
                flex-direction: row;
                margin: 10px 0px;
                justify-content:space-between;
                width: calc(100% -20px);
                height: fit-content;
                gap: 20px;
                .key{
                    width: 100px;
                    max-width: 100px;
                    min-width: 100px;
                    /* background-color: cyan; */
                }
                .value{
                    width: calc(100% - 100px - 10px);
                    /* min-width: calc(100% - 100px - 10px); */
                    max-width: calc(100% - 100px - 10px);
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    padding-right: 10px;
                    /* background-color: cyan; */
                }
                p{
                    word-wrap:break-word !important;
                    overflow-wrap: break-word !important;
                    word-break: break-word;
                    white-space: normal;
                    /* max-width: 100%; */
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .ButtonAction{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
            padding-bottom: 10px;
            padding-top: 10px;
            button{
                font-size: 15px;
                padding: 10px 30px;
                border-radius: 10px;
                color: #FAFAFA;
                background-color: #B17457;
                border: none;
            }
        }
    }

    
}

.theItems.Waiting{
    background-color: rgb(253, 253, 231);
    border: rgb(113, 113, 102);
}
.theItems.pending{
    background-color: #c9efe5;
    border: #c9efe5;
}
.theItems.Done{
    background-color: #d5f2bf;
    border: #d5f2bf;
}