.Navbar{
    /* display: none !important; */
}
.maincontent{
    width: 100vw;
    margin: 0px 20px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    /* background-color: aqua; */
}
.maincontent>div{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
    /* margin-left: 20px !important; */
    height: calc(100% - 15px);
}
.Text>p{
    font-family: 'boldPublica';
    font-weight:bold;
    color: #000000;
    margin: 0;
    padding: 10px 0px;
    text-align: start;
    letter-spacing: 0.5px;
    font-size: 30px;
}
.Text>svg{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    /* flex-wrap: wrap; */
    height: calc(100% - 20px);
    margin-top: 10px;
    /* flex-wrap: wrap !important; */

    /* background-color: aquamarine; */
}
.sideBar{
    position: sticky;
    background-color: #D8D2C2;
    display: flex;
    flex-direction: column;
    width: 190px;
    width: 190px !important;
    min-width: 190px !important;
    max-width: 190px !important;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    height: calc(100% - 40px);
}
.sideBar>div{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
    align-items: center;
}


.sideBar>div:hover{
    color: #ae8673;
}
.sideBar>div:active{
    color:#B17457;
}
.ContainerSubMenu>svg>rect{
    display: none;
}
.ContainerSubMenu a{
    text-decoration: none;
    outline: none;
    color: inherit;
}
.container2{
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px - 190px - 40px) !important;
    max-width: calc(100% - 40px - 190px - 40px) !important;
    min-width: calc(100% - 40px - 190px - 40px) !important;
    padding-left: 40px;
    height: 100%;
}
.Text2{
    /* padding: 20px 0px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
}
.Text2>p{
    padding: 12px 0px;
    font-family: 'boldPublica';
    font-weight:bold;
    color: #000000;
    margin: 0;
    text-align: start;
    letter-spacing: 0.5px;
    font-size: 30px;
}
.formProfile{
    height: 100%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    /* width: calc(100% - 190px) !important; */
    font-family: 'normalPublica';
    /* background-color: blueviolet; */
    /* padding-top: 20px; */
    /* flex-wrap: wrap; */
}

.containerbody{
    font-family: 'normalPublica';
    padding-top: 30px;
    width: 100%;
    /* width: 100%; */
    height: fit-content;
    min-height: 300px;
    /* background-color: aqua; */
    display: flex;
    /* gap: 40px; */
    /* justify-content:space-around; */
    
}
.containerbody.vertical{
    font-family: inherit;
    flex-direction: column;
    gap: 50px;
}
.containerbody.horizontal{
    width: 100% !important;
    max-width: 100% !important;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 40px;
    justify-content: space-between;
}
.BodyFill{
    /* background-color: #B17457; */
    width: 550px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.input-container {
    font-family: inherit;
    width: calc(100% - 10px);
    height: 100%;
    position: relative;
    /* margin: 5px; */
    display: flex;
    align-items: center; /* Menjaga elemen tetap sejajar secara vertikal */
}

.input-container input {
    font-family: inherit;
    width: 100%;
    height: 100%;
    padding: 16px 50px 8px 20px; /* Menambah padding kanan untuk tombol */
    font-size: 16px;
    border: 2px solid #aaa;
    border-radius: 15px;
    outline: none;
}
#ThePassword,#newPassword{
    border: none;
}
input:disabled{
    background-color: rgb(0,0,0,0);
}
.input-container.select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px;     */

    select{
        width: fit-content;
        width: calc(70% - 70px);
        color: #000000;
        background-color: white;
        /* padding: 0 10px; */
        font-family: inherit;
        padding: 8px 50px 8px 20px; /* Menambah padding kanan untuk tombol */
        font-size: 16px;
        border: 2px solid #aaa;
        border-radius: 8px;
        outline: none;
    }
}

.input-container label {
    width: fit-content;
    position: absolute;
    width: calc(70% - 20px);
    /* margin-bottom: 10px !important; */
    /* padding-top: 20px; */
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    background-color: white;
    padding: 0 10px;
    transition: 0.3s;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    margin-top: 2px;
    top: 2px;
    font-size: 12px;
    color: #aaa;
}



.TheInput>p,.PasswordFill>p{
    color: rgb(147, 147, 147);
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.TheInput>input,.PasswordFill>input{
    border: none;
    background-color: #ffffff;
    outline: none;
    height: 30px;
    font-family: 'normalPublica';
    font-size: 20px;
}

#PasswordArea{
    flex-direction: row;
    justify-content: space-between;
    
    
}

#PasswordArea>*{
    /* height: 100%; */
    /* background-color: aqua; */
}
.ButtonArea{
    position: absolute;
    right: 20px; /* Atur jarak dari tepi kanan input */
    gap: 5px;

    width: 100%;
    /* background-color: aqua; */
    width: fit-content;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 12px; */
}
.ButtonArea>button{
    /* padding-top: ; */
    height: 50%;
    width: 50%;
    border: none;
    background-color: rgb(0,0,0,0);
    align-items: center;
    margin: 0px;
    padding: 0px;
    /* padding-left: 2px; */
    margin-left: 20px;
}

.BodyFill.Gender{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    height: fit-content !important;
}
.titleSub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    margin: 10px 0px;
}
.pOptional{
    font-size: 12px;
    font-style: italic;
    color: #aaa;
}
.radioArea{
    display: flex;
    flex-direction: column;
}
.radioArea input[type="radio"]{
    accent-color: #B17457;
    border: #B17457;
}
.containerButton{
    display: flex;
    justify-content: end;
    /* background-color: antiquewhite; */
    height:fit-content;
    width: 100%;
    min-width: 50%;
}
.containerButton button{
    font-family: inherit;
    color: white;
    background-color: #B17457;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 20px;
    height: 50px;
    margin: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

/* ---------- Change Password --------- */

.containerButton.Info{
    font-family: 'normalPublica';
    letter-spacing: 1px;
    
}
.containerButton.Info button{
    font-family: inherit;
    letter-spacing: inherit;
    padding-left: 30px;
    padding-right: 30px;
}

/* -------------- Address ---------------- */
.containerbody.TwoSpace{
    /* flex-direction: column; */
    justify-content: space-between;
}
.containerbody>.lefts,
.containerbody>.rights{
    display: flex;
    flex-direction: column !important;
    /* justify-content:space-evenly; */
    gap: 40px !important;
    
    /* width: 100%; */
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    /* gap: 40px; */
    /* justify-content:space-around; */
}

.containerbody.TwoSpace .input-container label{
    /* font-size: 15px; */
    height: 75%;
}

.containerbody.TwoSpace .input-container input:focus + label,
.containerbody.TwoSpace .input-container input:not(:placeholder-shown) + label {
    height: 0%;
}
.containerbody.TwoSpace .input-container::placeholder:focus{
    opacity: 10%;
    font-size: 10px;
}
.containerbody.second{
    width: 70%;
    font-size: 20px;
}

@media screen and (max-width: 662px) {
    .containerbody.TwoSpace{
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }
    .container{
        flex-wrap: wrap !important;

    }

    div#content.content{
        width: 100% !important;
        
        .sideBar{
            height: fit-content;
            width: 190px !important;
            min-width: 190px !important;
            max-width: 190px !important;
        }
        .container2{
            padding-left: 0;
    
            .input-container{
                width: 100% !important;
                
                input{
                    width: 100% !important;
                }
                
            } 
        }
    }
    
}

.theSvgLine{
    width: 100%;
    min-width: 100%;
}


